{% extends 'base.html' %}
{% block title %}پنل فروشنده | دیجی‌کالا{% endblock %}
{% block content %}
<h2>👨‍💼 پنل فروشنده</h2>
<a href="{% url 'create_store' %}" class="btn">+ ایجاد فروشگاه جدید</a>
<div class="card-grid" style="margin-top: 20px;">
    {% for store in stores %}
        <div class="card">
            <h3>{{ store.name }}</h3>
            <p>{{ store.description|truncatewords:15 }}</p>
            <p class="store-balance">💰 موجودی حساب: {{ store.balance }} تومان</p>
            <a href="{% url 'store_detail' store.id %}" class="btn">مدیریت فروشگاه</a>
        </div>
    {% empty %}
        <p>هنوز فروشگاهی نساخته‌اید.</p>
    {% endfor %}
</div>
{% endblock %}
